body{

    padding: 50px;

    margin: 0;

    background-color: #1d1c1f;

    display: grid;

    place-items: center;

    

}



.container{

    width: 50%;

    border:10px solid #1eb7e6dc;

    overflow: hidden;

    border-radius: 5px;

    box-shadow: 10px 15px 25px rgba(100, 89, 255, 0.71);

}



.wrapper{

    width: 100%;

    display: flex;

    animation: slide 15s infinite;

}



img{

    width:100% ;



}



@keyframes slide{

    1%{transform: translateX(0);}

    20%{transform: translateX(0%);}

    25%{transform: translateX(-100%);}

    30%{transform: translateX(-100%);}

    40%{transform: translateX(-200%);}

    45%{transform: translateX(-200%);}

    50%{transform: translateX(-300%);}

    60%{transform: translateX(-300%);}

    65%{transform: translateX(-400%);}

    70%{transform: translateX(-400%);}

    80%{transform: translateX(-500%);}

    85%{transform: translateX(-500%);}

    85%{transform: translateX(-600%);}

    90%{transform: translateX(-600%);}


}

